.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  margin: 15px;
}

.inputBox {
  margin: 10px;
}

.ingredientBox {
  margin-right: 10px;
}

.dishBox {
  margin-left: 10px;
}